<div id="main">
<div id="divmain">
 Bajaj Insurance
 <img src="./assets/images/bajaj.png" width="100px" height=50px>
</div>
<div id="scroll">
  <marquee direction="left" height="50px">
    <h3>Welcome to Bajaj Insurance !!! Have a nice day. Login for a good experience!</h3>
    </marquee>
</div>
<div id="divmenu">
  <ul>
    <li><a routerLink='./dashboardLink'>Dashboard</a></li>
    <li><a routerLink='./loginLink'>Login</a></li>
    <li><a routerLink='./registerLink'>Register</a></li>
    <img src="./assets/images/menuimg.PNG" height=30px>
  </ul>
  
</div>
<div>
  <router-outlet></router-outlet>
</div>
</div>

 